/* -----------------------------------------------------------------
    - Contact
----------------------------------------------------------------- */
@media only screen and (max-width: 768px) {
  .contact-form .btn {
    width: 100%;
  }
}

.tabcontent .contact-form {
  padding-bottom: 1.875rem;
}

@media only screen and (max-width: 580px) {
  .tabcontent .contact-form {
    padding-bottom: 1.25rem;
  }
}
