.input,
.textarea,
select,
.custom-select {
  background-color: transparent;
  border: 1px solid var(--color-border);
  border-radius: var(--radius-14);
  box-shadow: none;
  color: var(--color-heading);
  font-size: inherit;
  height: auto;
  padding: 0.875rem 1.375rem 0.8125rem;
  position: relative;
  width: 100%;
  appearance: none;
}

.input:focus,
.textarea:focus,
select:focus,
.custom-select:focus {
  background-color: transparent;
  border-color: var(--color-accent);
  color: var(--color-heading);
  box-shadow: none;
  outline: none;
}

.input {
  line-height: inherit;
}

.input__icon {
  padding-left: 3.375rem;
}

@media only screen and (max-width: 580px) {
  .input__icon {
    padding-left: 2.8125rem;
  }
}

.textarea {
  border-radius: var(--radius-14);
  display: block;
  padding: 0.8125rem 1.1875rem;
  resize: none;
}

.form-group {
  margin-bottom: 2rem;
  position: relative;
}

.help-block {
  position: absolute;
  font-size: 0.75rem;
  line-height: 1.4;
  padding-top: 0.3125rem;
  padding-left: 0.375rem;
}

.with-errors {
  color: var(--color-error);
}

.has-error {
  input,
  textarea,
  input:focus,
  textarea:focus {
    border-color: var(--color-error);
  }
}

#validator-contact {
  font-size: 0.875rem;
  margin-top: 1rem;
}

.form-control {
  &::-webkit-input-placeholder,
  &:-ms-input-placeholder,
  &::-ms-input-placeholder,
  &::placeholder {
    color: var(--color-paragraph);
    opacity: 0.5;
  }
}

input:invalid,
textarea:invalid {
  outline: none !important;
}

.form-check-input {
  background: transparent;
  border-color: rgba(244, 244, 244, 0.15);

  &:checked {
    background-color: var(--color-accent);
    border-color: var(--color-accent);

    &[type='checkbox'] {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e") !important;
    }

    &[type='radio'] {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23000'/%3e%3c/svg%3e");
    }
  }

  &:focus {
    border-color: var(--color-paragraph);
    -webkit-box-shadow: 0 0 0 0.125rem rgba(244, 244, 244, 0.25);
    box-shadow: 0 0 0 0.125rem rgba(244, 244, 244, 0.25);
  }
}

select,
.custom-select {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23fff' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e")
    no-repeat right 0.1rem (center / 10px) 16px;
}

@media only screen and (max-width: 580px) {
  .input,
  .textarea,
  select,
  .custom-select {
    padding: 0.8125rem 1.375rem 0.75rem;
  }

  .form-group {
    margin-bottom: 1.6875rem;
  }

  .help-block {
    font-size: 0.6875rem;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .input {
    line-height: 0;
  }
}
