/* -----------------------------------------------------------------
    - News
----------------------------------------------------------------- */

.news-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;

  > * {
    min-width: 0;
  }
}

@media only screen and (max-width: 991px) {
  .news-grid {
    margin-left: 0;
    margin-right: 0;
  }
}

.news-item {
  border-radius: var(--radius-16);
  -webkit-box-shadow: var(--box-shadow-50);
  box-shadow: var(--box-shadow-50);
  margin-bottom: 1.875rem;
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
  padding: 0;
  width: calc(50% - 30px);
}

@media only screen and (max-width: 991px) {
  .news-item {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 580px) {
  .news-item {
    margin-bottom: 1.25rem;
  }
}

.news-item__image-wrap {
  overflow: hidden;
  border-radius: var(--radius-16);
  height: 14rem;
  position: relative;

  img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
}

@media only screen and (max-width: 991px) {
  .news-item__image-wrap {
    height: 18rem;
  }
}

@media only screen and (max-width: 580px) {
  .news-item__image-wrap {
    border-radius: var(--radius-12);
    height: 12rem;
  }
}

.news-item:hover .news-item__image-wrap img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.news-item__date {
  margin-bottom: 0.75rem;
  opacity: 0.7;

  span {
    display: inline-block;
    padding-right: 1.125rem;
    position: relative;

    &::after {
      content: '';
      background: var(--color-paragraph);
      border-radius: 50%;
      height: 0.25rem;
      margin: auto;
      position: absolute;
      top: 0;
      right: 0.4375rem;
      bottom: 0;
      width: 0.25rem;
    }
  }
}

.news-item__link {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.news-item__caption {
  padding: 1.25rem 1.5rem 0.375rem;
}

@media only screen and (max-width: 580px) {
  .news-item__caption {
    padding: 1.1875rem 1rem 0;
  }
}

.news-item .title {
  margin-bottom: 0.625rem;

  a {
    color: var(--color-heading);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    &:hover {
      background: var(--color-gradient-text);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
